{% extends 'base.html' %}

{% block section %}faq{% endblock %}

{% block contents %}
<div class="leaderboard">
<ul id="faq-list">
    <li><a target="_blank" href="http://research.microsoft.com/en-us/projects/trueskill/default.aspx">Explicação do sistema de ranking TrueSkill</a></li>
    <li><a target="_blank" href="http://fainalondrina.com.sapo.pt/estatutos.htm" target="_blank">Estatutos da liga</a></li>
    <li><a target="_blank" href="http://spreadsheets.google.com/pub?key=0AkHpbXJ9n3x3dFoydExmQW5qdzN1anJwZUJ2dDIzN2c&gid=0" target="_blank">Tabela 2010</a></li>
    <li><a target="_blank" href="http://spreadsheets.google.com/pub?key=p8fDlJeBb4JxNhhdT03NJDw&gid=4" target="_blank">Tabela 2009</a></li>
    <li><a target="_blank" href="http://spreadsheets.google.com/pub?key=p8fDlJeBb4JzOppnctYKyYA&gid=4" target="_blank">Tabela 2008</a></li>
</ul>
</div>
{% endblock %}